*{
    margin: 0;
    padding: 0;
    background-color: white;
}

#srch{
    height: 30px;
}


#srch,#btn{
    display: flex;
  justify-content: center;
}

#weather-info{
    display: flex;
    justify-content: center;

}